In [44]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression

In [48]:
df = pd.read_csv("pizza_data.csv")
df

,Pizza_ID,Category,Pepperoni,Chicken,Spinach,Pineapple,6_inch_pizza,12_inch_pizza,18_inch_pizza,Nikhil_eats,Charlie_eats
0,1,Training,1,1,1,1,1,0,0,0,0
1,2,Training,0,0,0,1,1,0,0,1,0
2,3,Training,0,0,1,0,1,0,0,0,0
3,4,Training,0,1,0,1,1,0,0,1,0
4,5,Training,1,1,0,0,1,0,0,0,0
5,6,Training,1,1,1,0,0,1,0,0,0
6,7,Training,0,1,0,0,0,1,0,1,0
7,8,Training,0,0,1,1,0,1,0,0,0
8,9,Training,0,0,1,0,0,1,0,1,1
9,10,Training,0,0,0,1,0,1,0,1,0
10,11,Training,1,0,0,0,0,1,0,0,1
11,12,Training,1,1,0,0,0,1,0,0,0
12,13,Training,0,1,1,1,0,1,0,1,0
13,14,Training,1,0,1,1,0,1,0,0,1
14,15,Training,0,0,0,0,0,1,0,1,1
15,16,Training,0,0,1,0,0,0,1,1,1
16,17,Training,1,0,1,1,0,0,1,0,1
17,18,Training,1,0,0,0,0,0,1,0,1
18,19,Training,1,1,1,1,0,0,1,0,0
19,20,Training,0,0,1,1,0,0,1,0,1
20,21,Testing,1,0,1,0,1,0,0,0,1
21,22,Testing,1,1,1,1,0,1,0,0,0
22,23,Testing,0,1,1,0,0,1,0,1,0
23,24,Testing,1,0,0,1,0,1,0,0,0
24,25,Testing,0,0,0,1,0,0,1,1,1

In [21]:
training = df.iloc[0:20]
testing = df.iloc[20:25]

charlie_training = training.drop(['Pizza_ID', 'Category', 'Nikhil_eats'], 1)
nikhil_training = training.drop(['Pizza_ID', 'Category', 'Charlie_eats'], 1)

charlie_training_x = charlie_training.drop('Charlie_eats', 1)
charlie_training_y = charlie_training['Charlie_eats']

nikhil_training_x = nikhil_training.drop('Nikhil_eats', 1)
nikhil_training_y = nikhil_training['Nikhil_eats']


charlie_testing = testing.drop(['Pizza_ID', 'Category', 'Nikhil_eats'], 1)
nikhil_testing = testing.drop(['Pizza_ID', 'Category', 'Charlie_eats'], 1)

charlie_testing_x = charlie_testing.drop('Charlie_eats', 1)
charlie_testing_y = charlie_testing['Charlie_eats']

nikhil_testing_x = nikhil_testing.drop('Nikhil_eats', 1)
nikhil_testing_y = nikhil_testing['Nikhil_eats']

# Charlie Predictions

In [46]:
clf = LogisticRegression()
clf.fit(charlie_training_x, charlie_training_y)
print('Predictions:', list(clf.predict(charlie_testing_x)))
print('Actual:     ', list(charlie_testing_y))

Predictions: [0, 0, 0, 0, 1]
Actual:      [1, 0, 0, 0, 1]

# Nikhil Predictions

In [47]:
clf.fit(nikhil_training_x, nikhil_training_y)
print('Predictions:', list(clf.predict(nikhil_testing_x)))
print('Actual:     ', list(nikhil_testing_y))

Predictions: [0, 0, 1, 0, 1]
Actual:      [0, 0, 1, 0, 1]